body {
    background-color: rgb(48, 135, 58);
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
}
img {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.foto {
    background-color: rgb(82, 191, 91);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.foto img {
    width: 189px;
    margin: 0;
}

.promo {
    text-align: center;
    color: rgb(255, 2, 2);
}
.cod {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(4, 255, 255);
    padding: 20px 5px;
    color: blue;
    border: 2px solid black;
    border-radius: 15px;
}
&p {
    text-align: center;
    font-weight: bold;
}

#tombol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: rgb(255, 153, 0);
    color: white;
    
}