* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: #ae00ff;  
    height: 15vh;
    line-height: 15vh;
}   

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}

article {
    flex: 3;
    order: 2;
}

aside {
    flex: 1;
    background-color: #ae00ff;
    order: 3;
}

nav {
    flex: 1;
    background-color: #860392;
    order: 1;
}

footer {
    background-color: #860392;
    height: 15vh;
    line-height: 15vh;
} 